.musicFeed{
    width: 100%;
}

.musicFeedList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.musicFeedList li{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.musicFeedList li:nth-child(even){
    background-color: #DCDCDC;
}

.feedCard{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.feedCardContainer>*{
    min-width: 180px;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.feedCard>*{
    width: 180px;
    text-align: center;
}

.feedCardContainer{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.feedCardPlay{
    cursor: pointer;
    width: 180px;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.feedCardContainer:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.2s ease;
}

.listTopics{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    color: white;
}

.listTopics>*{
    min-width: 180px;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-align: center;
}

.listTopicNames{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.feedCardMenuBtn{
    margin:0;
    padding: 0;
    outline: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
}