.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100%;
    width: 30vw;
}

.homeTitle{
    margin-bottom: 30px;
}