.page{
    height: 100%;
    display: flex;
}

.pageChildrenWrapper{
    display: flex;
    width: 100%;
}

.pageChildren{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pageNav{
    left: 0;
}

.musicPlayer{
    position: fixed;
    bottom: 0;
    width: 100%;
}