.musicPlayer{
    display: flex;
    border-top: 1px solid #DCDCDC;
    justify-content: space-between;
    overflow:hidden;
}

.musicPlayer>*{
    width: 300px;
}

.musicPlayerSkeleton{
    display: flex;
    align-items: center;
}

.musicPlayerControls{
    display: flex;
    flex-direction: column;
}

.musicPlayerButtons{
    display: grid;
    grid-template-areas: 
    "button button button button"
    "progress progress progress progress";
    justify-content: center;
}

.musicPlayerButtons>button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    color: black;
}

.musicPlayerButtons>button:hover{
    color: #DCDCDC;
    transition: all 0.2s ease;
}

.musicPlayerProgress{
    display: flex;
    justify-content: space-between;
}

.musicPlayerProgress>span{
    padding-left: 10px;
    padding-right: 10px;
}

.musicInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 250px
}

.musicInfoCard{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.musicPlayerVolume{
    margin-right: 8%;
}

.musicInfoImg{
    height: 64px;
    width: auto;
    display: flex;
}

.musicPlayerSlider{
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 15px;
}

.musicPlayerSlider{
    display: flex;
    align-content: center;
    align-items: center;
}
.sliders{
    width: 100%;
}